<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id = "app">
    <input type="text" v-model="inputValue" />
    <button v-on:click="handleButton">提交</button>
    <ul>
        <!--<li v-for="item in list">{{item}}</li>-->
        <todo-item v-bind:content="item"
                   v-bind:index="index"
                   v-for="(item,index) in list"
                   v-on:delete1="handleItemDelete"><!-- (item,index) index是下标 -->

        </todo-item>
    </ul>
</div>

<script>

    //    Vue.component("TodoItem",{
    //        props:['content'],
    //        template:"<li>{{content}}</li>",
    //    });   全局组件

    var TodoItem = {
        props:['content','index'],
        template:"<li v-on:click='handleItemClick'>{{content}}</li>",
        methods:{
            handleItemClick:function () {
                this.$emit("delete1",this.index);//emit向外触发event
            }
        }

    };//局部组建,然后要在Vue实例中进行绑定

    var app = new Vue({
        el : '#app',
        components:{
            TodoItem:TodoItem, //局部组件用花括号可以绑定多个,所以component要加s
        },
        data:{
            list:[],
            inputValue:''
        },
        methods:{
            handleButton:function () {
                this.list.push(this.inputValue);
                this.inputValue='';
            },
            handleItemDelete:function (index) {
                this.list.splice(index,1);
            }
        }
    });

</script>


</body>

</html>